{{ define "title" }}Enter Password - URL Shortener{{ end }}

{{ define "head" }}
  <style>
    @media (max-width: 576px) {
      .btn-responsive {
        width: 100%;
      }
    }
  </style>
{{ end }}

{{ define "content" }}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <h1 class="text-center mb-4">Password Protected URL</h1>
        <form action="/r/{{ .Key }}" method="POST">
          <div class="mb-3">
            <label for="password" class="form-label">Enter Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-responsive">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{{ end }}
